body{
    background-image: url(./image/photo-1506755594592-349d12a7c52a.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  
}